# Target Express API endpoint URL (no trailing slash)
NEXT_PUBLIC_API_URL="http://localhost:3001"

# NextAuth root domain URL (production value: https://shenova.ai)
NEXTAUTH_URL="http://localhost:3000"

# NextAuth session encryption crypt string (minimum 32 characters)
NEXTAUTH_SECRET="fallback-secret-at-least-32-chars-long"

# Google Console OAuth credentials
GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
