# Target API endpoint URL (no trailing slash)
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Application domain URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google Auth Client ID (for OAuth button rendering)
NEXT_PUBLIC_GOOGLE_CLIENT_ID="google-client-id"
